## Manipulação de Dados Et0

In [2]:
# Importando os módulos
import csv
import pandas as pd
import matplotlib.pyplot as plt    
import numpy as np                
%matplotlib inline

In [3]:
dados = pd.read_csv('Dados/Dataset.csv')

In [4]:
# Verificando o formato dos dados
dados.shape

(10367, 17)

In [5]:
# Verificando as primeiras linhas do dataset
dados.head(10)

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253.0,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538,0.000298
1,2015-02-24 23:00:00,13254.0,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,23.472,23.260,23.36350,99.99786,0.000000,0.000382,0.000299
2,2015-02-25 00:00:00,13255.0,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382,0.000299
3,2015-02-25 01:00:00,13256.0,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564,0.000297
4,2015-02-25 02:00:00,13257.0,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,23.350,23.212,23.28190,99.99786,0.000000,0.000566,0.000300
5,2015-02-25 03:00:00,13258.0,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,23.312,23.222,23.26650,99.99786,0.102014,0.000318,0.000292
6,2015-02-25 04:00:00,13259.0,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,23.392,23.251,23.31461,99.99786,0.229097,0.000532,0.000283
7,2015-02-25 05:00:00,13260.0,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,23.402,23.191,23.31653,99.99786,0.335347,0.000574,0.000275
8,2015-02-25 06:00:00,13261.0,601.2241,600.4152,0.000,23.232,23.050,99.998,99.998,0.235806,23.232,23.050,23.16971,99.99786,0.388333,0.000655,0.000273
9,2015-02-25 07:00:00,13262.0,601.6545,600.2869,0.000,23.441,23.010,99.998,99.998,85.739530,23.441,23.010,23.15646,99.99786,0.704306,0.238165,0.000685

In [6]:
# Verificando se existem valores nulos
dados.isnull().values.any()

True

In [7]:
type(dados)

pandas.core.frame.DataFrame

In [17]:
from Rain_mm_Tot in dados:
    if Rain_mm_Tot > 1:
        print(Rain_mm_Tot)

SyntaxError: invalid syntax (<ipython-input-17-ccac22add38b>, line 1)

In [17]:
dados_filtrados = dados[dados['Rain_mm_Tot'] <= 1]

In [18]:
# dados_filtrados = dados_filtrados[dados_filtrados[]]

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253.0,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.47200,23.34100,23.39763,99.99786,0.000000,0.000538,0.000298
1,2015-02-24 23:00:00,13254.0,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,23.47200,23.26000,23.36350,99.99786,0.000000,0.000382,0.000299
2,2015-02-25 00:00:00,13255.0,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.37100,23.21200,23.29213,99.99786,0.002500,0.000382,0.000299
3,2015-02-25 01:00:00,13256.0,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.40200,23.29200,23.34686,99.99786,0.023333,0.000564,0.000297
4,2015-02-25 02:00:00,13257.0,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,23.35000,23.21200,23.28190,99.99786,0.000000,0.000566,0.000300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10362,2016-10-19 07:00:00,23615.0,620.3572,599.7344,0.000,24.954,23.260,85.775,78.117,2295.128000,21.04261,20.69714,24.03117,82.42256,1.119167,6.375355,0.023606
10363,2016-10-19 08:00:00,23616.0,619.8627,599.7466,0.000,27.388,24.835,78.472,65.828,2914.724000,21.13052,20.18818,26.09203,72.45580,1.931736,8.096457,0.056306
10364,2016-10-19 09:00:00,23617.0,619.9329,599.7344,0.000,29.270,27.078,66.904,57.888,3410.409000,20.85625,20.01264,28.27324,62.41462,1.920209,9.473359,0.078555
10365,2016-10-19 10:00:00,23618.0,619.8840,599.7802,0.000,31.978,28.840,59.589,49.726,3977.311000,20.87022,19.44653,30.21831,54.65525,1.432778,11.048090,0.077010
10366,2016-10-19 11:00:00,23619.0,620.4030,599.7253,0.000,33.289,30.840,52.867,43.497,4460.519000,20.52118,18.96729,32.25749,47.55349,1.144931,12.390330,0.076337