In [1]:
# Importando os módulos
import csv
import pandas as pd
import numpy as np  
import statistics
from statistics import median

# Importação dos dados

In [2]:
df_data = pd.read_csv('../dados/datasetteste.csv')
df_data.head()

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538,0.0002984148
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,23.472,23.260,23.3635,99.99786,0.000000,0.000382,0.0002987745
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382,0.0002994588
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564,0.0002972446
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,23.350,23.212,23.2819,99.99786,0.000000,0.000566,0.0002998548

In [3]:
df_data = df_data.loc[0:10]

In [4]:
df_data.shape

(11, 17)

In [5]:
delta = 4

In [6]:
df_data['BP_mbar_Max(min)'] = 0
df_data['BP_mbar_Max(max)'] = 0
df_data['BP_mbar_Max(med)'] = 0
df_data['BP_mbar_Max(dp)'] = 0

In [7]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,2],df_data.iloc[x-2,2],df_data.iloc[x-3,2],df_data.iloc[x-4,2]]
    df_data.iloc[x,17] = min(lista)
    df_data.iloc[x,18] = max(lista)
    df_data.iloc[x,19] = sum(lista)/len(lista) 
    df_data.iloc[x,20] = statistics.stdev(lista)

In [8]:
df_data['BP_mbar_Min(min)'] = 0
df_data['BP_mbar_Min(max)'] = 0
df_data['BP_mbar_Min(med)'] = 0
df_data['BP_mbar_Min(dp)'] = 0

In [9]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,3],df_data.iloc[x-2,3],df_data.iloc[x-3,3]]
    df_data.iloc[x,21] = min(lista)
    df_data.iloc[x,22] = max(lista)
    df_data.iloc[x,23] = sum(lista)/len(lista) 
    df_data.iloc[x,24] = statistics.stdev(lista)

In [10]:
df_data['Rain_mm_Tot(min)'] = 0
df_data['Rain_mm_Tot(max)'] = 0
df_data['Rain_mm_Tot(med)'] = 0
df_data['Rain_mm_Tot(dp)'] = 0

In [11]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,4],df_data.iloc[x-2,4],df_data.iloc[x-3,4]]
    df_data.iloc[x,25] = min(lista)
    df_data.iloc[x,26] = max(lista)
    df_data.iloc[x,27] = sum(lista)/len(lista) 
    df_data.iloc[x,28] = statistics.stdev(lista)

In [12]:
df_data['AirTC_Max(min)'] = 0
df_data['AirTC_Max(max)'] = 0
df_data['AirTC_Max(med)'] = 0
df_data['AirTC_Max(dp)'] = 0

In [13]:
df_data['AirTC_Max'] = df_data['AirTC_Max'].astype(np.float64)
df_data['AirTC_Max(min)'] = df_data['AirTC_Max(min)'].astype(np.float64)
df_data['AirTC_Max(max)'] = df_data['AirTC_Max(max)'].astype(np.float64)
df_data['AirTC_Max(med)'] = df_data['AirTC_Max(med)'].astype(np.float64)
df_data['AirTC_Max(dp)'] = df_data['AirTC_Max(dp)'].astype(np.float64)

In [14]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,5],df_data.iloc[x-2,5],df_data.iloc[x-3,5]]
    df_data.iloc[x,29] = min(lista)
    df_data.iloc[x,30] = max(lista)
    df_data.iloc[x,31] = sum(lista)/len(lista) 
    df_data.iloc[x,32] = statistics.stdev(lista)

In [15]:
df_data['AirTC_Min(min)'] = 0
df_data['AirTC_Min(max)'] = 0
df_data['AirTC_Min(med)'] = 0
df_data['AirTC_Min(dp)'] = 0

In [16]:
df_data['AirTC_Min'] = df_data['AirTC_Min'].astype(np.float64)
df_data['AirTC_Min(min)'] = df_data['AirTC_Min(min)'].astype(np.float64)
df_data['AirTC_Min(max)'] = df_data['AirTC_Min(max)'].astype(np.float64)
df_data['AirTC_Min(med)'] = df_data['AirTC_Min(med)'].astype(np.float64)
df_data['AirTC_Min(dp)'] = df_data['AirTC_Min(dp)'].astype(np.float64)

In [17]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,6],df_data.iloc[x-2,6],df_data.iloc[x-3,6]]
    df_data.iloc[x,33] = min(lista)
    df_data.iloc[x,34] = max(lista)
    df_data.iloc[x,35] = sum(lista)/len(lista) 
    df_data.iloc[x,36] = statistics.stdev(lista)

In [18]:
df_data['RH_Max(min)'] = 0
df_data['RH_Max(max)'] = 0
df_data['RH_Max(med)'] = 0
df_data['RH_Max(dp)'] = 0

In [19]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,7],df_data.iloc[x-2,7],df_data.iloc[x-3,7]]
    df_data.iloc[x,37] = min(lista)
    df_data.iloc[x,38] = max(lista)
    df_data.iloc[x,39] = sum(lista)/len(lista) 
    df_data.iloc[x,40] = statistics.stdev(lista)

In [20]:
df_data['RH_Min(min)'] = 0
df_data['RH_Min(max)'] = 0
df_data['RH_Min(med)'] = 0
df_data['RH_Min(dp)'] = 0

In [21]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,8],df_data.iloc[x-2,8],df_data.iloc[x-3,8]]
    df_data.iloc[x,41] = min(lista)
    df_data.iloc[x,42] = max(lista)
    df_data.iloc[x,43] = sum(lista)/len(lista) 
    df_data.iloc[x,44] = statistics.stdev(lista)

In [22]:
df_data['SlrkJ_Tot(min)'] = 0
df_data['SlrkJ_Tot(max)'] = 0
df_data['SlrkJ_Tot(med)'] = 0
df_data['SlrkJ_Tot(dp)'] = 0

In [23]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,9],df_data.iloc[x-2,9],df_data.iloc[x-3,9]]
    df_data.iloc[x,45] = min(lista)
    df_data.iloc[x,46] = max(lista)
    df_data.iloc[x,47] = sum(lista)/len(lista) 
    df_data.iloc[x,48] = statistics.stdev(lista)

In [24]:
df_data['TdC_Max(min)'] = 0
df_data['TdC_Max(max)'] = 0
df_data['TdC_Max(med)'] = 0
df_data['TdC_Max(dp)'] = 0

In [25]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,10],df_data.iloc[x-2,10],df_data.iloc[x-3,10]]
    df_data.iloc[x,49] = min(lista)
    df_data.iloc[x,50] = max(lista)
    df_data.iloc[x,51] = sum(lista)/len(lista) 
    df_data.iloc[x,52] = statistics.stdev(lista)

In [26]:
df_data['TdC_Min(min)'] = 0
df_data['TdC_Min(max)'] = 0
df_data['TdC_Min(med)'] = 0
df_data['TdC_Min(dp)'] = 0

In [27]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,11],df_data.iloc[x-2,11],df_data.iloc[x-3,11]]
    df_data.iloc[x,53] = min(lista)
    df_data.iloc[x,54] = max(lista)
    df_data.iloc[x,55] = sum(lista)/len(lista) 
    df_data.iloc[x,56] = statistics.stdev(lista)

In [28]:
df_data['AirTC_Avg(min)'] = 0
df_data['AirTC_Avg(max)'] = 0
df_data['AirTC_Avg(med)'] = 0
df_data['AirTC_Avg(dp)'] = 0

In [29]:
df_data['AirTC_Avg'] = df_data['AirTC_Avg'].astype(np.float64)
df_data['AirTC_Avg(min)'] = df_data['AirTC_Avg(min)'].astype(np.float64)
df_data['AirTC_Avg(max)'] = df_data['AirTC_Avg(max)'].astype(np.float64)
df_data['AirTC_Avg(med)'] = df_data['AirTC_Avg(med)'].astype(np.float64)
df_data['AirTC_Avg(dp)'] = df_data['AirTC_Avg(dp)'].astype(np.float64)

In [30]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,12],df_data.iloc[x-2,12],df_data.iloc[x-3,12]]
    df_data.iloc[x,57] = min(lista)
    df_data.iloc[x,58] = max(lista)
    df_data.iloc[x,59] = sum(lista)/len(lista) 
    df_data.iloc[x,60] = statistics.stdev(lista)

In [31]:
df_data['RH_Avg(min)'] = 0
df_data['RH_Avg(max)'] = 0
df_data['RH_Avg(med)'] = 0
df_data['RH_Avg(dp)'] = 0

In [32]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,13],df_data.iloc[x-2,13],df_data.iloc[x-3,13]]
    df_data.iloc[x,61] = min(lista)
    df_data.iloc[x,62] = max(lista)
    df_data.iloc[x,63] = sum(lista)/len(lista) 
    df_data.iloc[x,64] = statistics.stdev(lista)

In [33]:
df_data['WS_ms_Avg(min)'] = 0
df_data['WS_ms_Avg(max)'] = 0
df_data['WS_ms_Avg(med)'] = 0
df_data['WS_ms_Avg(dp)'] = 0

In [34]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,14],df_data.iloc[x-2,14],df_data.iloc[x-3,14]]
    df_data.iloc[x,65] = min(lista)
    df_data.iloc[x,66] = max(lista)
    df_data.iloc[x,67] = sum(lista)/len(lista) 
    df_data.iloc[x,68] = statistics.stdev(lista)

In [35]:
df_data['SlrkJ_Avg(min)'] = 0
df_data['SlrkJ_Avg(max)'] = 0
df_data['SlrkJ_Avg(med)'] = 0
df_data['SlrkJ_Avg(dp)'] = 0

In [36]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,15],df_data.iloc[x-2,15],df_data.iloc[x-3,15]]
    df_data.iloc[x,69] = min(lista)
    df_data.iloc[x,70] = max(lista)
    df_data.iloc[x,71] = sum(lista)/len(lista) 
    df_data.iloc[x,72] = statistics.stdev(lista)

In [37]:
df_data['Eto(min)'] = 0
df_data['Eto(max)'] = 0
df_data['Eto(med)'] = 0
df_data['Eto(dp)'] = 0

In [38]:
df_data['Eto'] = df_data['Eto'].astype(np.float64)
df_data['Eto(min)'] = df_data['Eto(min)'].astype(np.float64)
df_data['Eto(max)'] = df_data['Eto(max)'].astype(np.float64)
df_data['Eto(med)'] = df_data['Eto(med)'].astype(np.float64)
df_data['Eto(dp)'] = df_data['Eto(dp)'].astype(np.float64)

In [39]:
for x in range(delta,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,16],df_data.iloc[x-2,16],df_data.iloc[x-3,16]]
    df_data.iloc[x,73] = min(lista)
    df_data.iloc[x,74] = max(lista)
    df_data.iloc[x,75] = sum(lista)/len(lista) 
    df_data.iloc[x,76] = statistics.stdev(lista)

In [40]:
df_data

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,...,WS_ms_Avg(med),WS_ms_Avg(dp),SlrkJ_Avg(min),SlrkJ_Avg(max),SlrkJ_Avg(med),SlrkJ_Avg(dp),Eto(min),Eto(max),Eto(med),Eto(dp)
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,...,0.008611,0.012811,0.000382,0.000564,0.000442,0.000105,0.000297,0.000299,0.000298,0.000001
5,2015-02-25 03:00:00,13258,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,...,0.008611,0.012811,0.000382,0.000566,0.000504,0.000106,0.000297,0.000300,0.000299,0.000001
6,2015-02-25 04:00:00,13259,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,...,0.041782,0.053451,0.000318,0.000566,0.000483,0.000143,0.000292,0.000300,0.000296,0.000004
7,2015-02-25 05:00:00,13260,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,...,0.110370,0.114777,0.000318,0.000566,0.000472,0.000134,0.000283,0.000300,0.000292,0.000009
8,2015-02-25 06:00:00,13261,601.2241,600.4152,0.000,23.232,23.050,99.998,99.998,0.235806,...,0.222153,0.116822,0.000318,0.000574,0.000475,0.000137,0.000275,0.000292,0.000283,0.000008
9,2015-02-25 07:00:00,13262,601.6545,600.2869,0.000,23.441,23.010,99.998,99.998,85.739530,...,0.317593,0.081089,0.000532,0.000655,0.000587,0.000062,0.000273,0.000283,0.000277,0.000005
10,2015-02-25 08:00:00,13263,601.5568,600.2289,0.254,23.993,23.392,99.998,99.998,303.170000,...,0.475995,0.199489,0.000574,0.238165,0.079798,0.137150,0.000273,0.000685,0.000411,0.000237

In [41]:
df_data.iloc[:, :16]

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,23.472,23.260,23.36350,99.99786,0.000000,0.000382
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,23.350,23.212,23.28190,99.99786,0.000000,0.000566
5,2015-02-25 03:00:00,13258,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,23.312,23.222,23.26650,99.99786,0.102014,0.000318
6,2015-02-25 04:00:00,13259,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,23.392,23.251,23.31461,99.99786,0.229097,0.000532
7,2015-02-25 05:00:00,13260,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,23.402,23.191,23.31653,99.99786,0.335347,0.000574
8,2015-02-25 06:00:00,13261,601.2241,600.4152,0.000,23.232,23.050,99.998,99.998,0.235806,23.232,23.050,23.16971,99.99786,0.388333,0.000655
9,2015-02-25 07:00:00,13262,601.6545,600.2869,0.000,23.441,23.010,99.998,99.998,85.739530,23.441,23.010,23.15646,99.99786,0.704306,0.238165
10,2015-02-25 08:00:00,13263,601.5568,600.2289,0.254,23.993,23.392,99.998,99.998,303.170000,23.993,23.392,23.71913,99.99786,1.300486,0.842139

In [42]:
df_data.iloc[:, 2:18]

,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto,BP_mbar_Max(min)
0,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538,0.000298,0.0000
1,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,23.472,23.260,23.36350,99.99786,0.000000,0.000382,0.000299,0.0000
2,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382,0.000299,0.0000
3,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564,0.000297,0.0000
4,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,23.350,23.212,23.28190,99.99786,0.000000,0.000566,0.000300,600.7875
5,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,23.312,23.222,23.26650,99.99786,0.102014,0.000318,0.000292,600.7875
6,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,23.392,23.251,23.31461,99.99786,0.229097,0.000532,0.000283,601.1295
7,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,23.402,23.191,23.31653,99.99786,0.335347,0.000574,0.000275,601.1752
8,601.2241,600.4152,0.000,23.232,23.050,99.998,99.998,0.235806,23.232,23.050,23.16971,99.99786,0.388333,0.000655,0.000273,601.1813
9,601.6545,600.2869,0.000,23.441,23.010,99.998,99.998,85.739530,23.441,23.010,23.15646,99.99786,0.704306,0.238165,0.000685,601.2241
10,601.5568,600.2289,0.254,23.993,23.392,99.998,99.998,303.170000,23.993,23.392,23.71913,99.99786,1.300486,0.842139,0.001063,601.2241

In [63]:
def preenche(column):
    for row in range(delta,df_data.shape[0]): 
        lista = []
        for row in lista[df_data.iloc[row-1,column]],delta,1:
            for column in range(y,1):
                #df_data.iloc[row,y] = min(lista)
                #df_data.iloc[row,y] = max(lista)
                #df_data.iloc[row,y] = sum(lista)/len(lista) 
                df_data.iloc[row,y] = statistics.stdev(lista)
    ##print(df_data)

In [ ]:
def preenche(column):
    for row in range(delta,df_data.shape[0]): 
        lista = []
        lista = [df_data.iloc[x-1,16],df_data.iloc[x-2,16],df_data.iloc[x-3,16]]

In [64]:
df_data['Eto(dp)'] = preenche(4,)

TypeError: list indices must be integers or slices, not numpy.float64

In [52]:
df_data

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,...,WS_ms_Avg(med),WS_ms_Avg(dp),SlrkJ_Avg(min),SlrkJ_Avg(max),SlrkJ_Avg(med),SlrkJ_Avg(dp),Eto(min),Eto(max),Eto(med),Eto(dp)
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,None
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,None
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,None
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,None
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,...,0.008611,0.012811,0.000382,0.000564,0.000442,0.000105,0.000297,0.000299,0.000298,None
5,2015-02-25 03:00:00,13258,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,...,0.008611,0.012811,0.000382,0.000566,0.000504,0.000106,0.000297,0.000300,0.000299,None
6,2015-02-25 04:00:00,13259,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,...,0.041782,0.053451,0.000318,0.000566,0.000483,0.000143,0.000292,0.000300,0.000296,None
7,2015-02-25 05:00:00,13260,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,...,0.110370,0.114777,0.000318,0.000566,0.000472,0.000134,0.000283,0.000300,0.000292,None
8,2015-02-25 06:00:00,13261,601.2241,600.4152,0.000,23.232,23.050,99.998,99.998,0.235806,...,0.222153,0.116822,0.000318,0.000574,0.000475,0.000137,0.000275,0.000292,0.000283,None
9,2015-02-25 07:00:00,13262,601.6545,600.2869,0.000,23.441,23.010,99.998,99.998,85.739530,...,0.317593,0.081089,0.000532,0.000655,0.000587,0.000062,0.000273,0.000283,0.000277,None
10,2015-02-25 08:00:00,13263,601.5568,600.2289,0.254,23.993,23.392,99.998,99.998,303.170000,...,0.475995,0.199489,0.000574,0.238165,0.079798,0.137150,0.000273,0.000685,0.000411,None