In [1]:
# Importando os módulos
import csv
import pandas as pd
import numpy as np  
import statistics
from statistics import median

# Importação dos dados

In [2]:
df_data = pd.read_csv('../dados/datasetteste.csv')
df_data.head()

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538,0.0002984148
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,23.472,23.260,23.3635,99.99786,0.000000,0.000382,0.0002987745
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382,0.0002994588
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564,0.0002972446
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,23.350,23.212,23.2819,99.99786,0.000000,0.000566,0.0002998548

In [3]:
df_data_sample = df_data.loc[0:9]

In [4]:
df_data_sample

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538,0.0002984148
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,23.472,23.260,23.3635,99.99786,0.000000,0.000382,0.0002987745
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382,0.0002994588
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564,0.0002972446
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,23.350,23.212,23.2819,99.99786,0.000000,0.000566,0.0002998548
5,2015-02-25 03:00:00,13258,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,23.312,23.222,23.2665,99.99786,0.102014,0.000318,0.0002921431
6,2015-02-25 04:00:00,13259,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,23.392,23.251,23.31461,99.99786,0.229097,0.000532,0.0002825503
7,2015-02-25 05:00:00,13260,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,23.402,23.191,23.31653,99.99786,0.335347,0.000574,0.0002753576
8,2015-02-25 06:00:00,13261,601.2241,600.4152,0.000,23.232,23.05,99.998,99.998,0.235806,23.232,23.050,23.16971,99.99786,0.388333,0.000655,0.0002734197
9,2015-02-25 07:00:00,13262,601.6545,600.2869,0.000,23.441,23.01,99.998,99.998,85.739530,23.441,23.010,23.15646,99.99786,0.704306,0.238165,0.0006853637

# Criação de novas colunas

In [5]:
time_slot = 4

In [6]:
columns = df_data_sample.columns.tolist()

columns.remove('TIMESTAMP')
columns.remove('RECORD')
columns.remove('Eto')

In [7]:
df_data_sample

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538,0.0002984148
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,23.472,23.260,23.3635,99.99786,0.000000,0.000382,0.0002987745
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382,0.0002994588
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564,0.0002972446
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,23.350,23.212,23.2819,99.99786,0.000000,0.000566,0.0002998548
5,2015-02-25 03:00:00,13258,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,23.312,23.222,23.2665,99.99786,0.102014,0.000318,0.0002921431
6,2015-02-25 04:00:00,13259,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,23.392,23.251,23.31461,99.99786,0.229097,0.000532,0.0002825503
7,2015-02-25 05:00:00,13260,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,23.402,23.191,23.31653,99.99786,0.335347,0.000574,0.0002753576
8,2015-02-25 06:00:00,13261,601.2241,600.4152,0.000,23.232,23.05,99.998,99.998,0.235806,23.232,23.050,23.16971,99.99786,0.388333,0.000655,0.0002734197
9,2015-02-25 07:00:00,13262,601.6545,600.2869,0.000,23.441,23.01,99.998,99.998,85.739530,23.441,23.010,23.15646,99.99786,0.704306,0.238165,0.0006853637

In [8]:
for column in columns:

    # soma
    df_data_sample[column + '_sum'] = 0
    # desvio padrão
    df_data_sample[column + '_std'] = 0
    # mínimo
    df_data_sample[column + '_min'] = 0
    # máximo
    df_data_sample[column + '_max'] = 0
    # média
    df_data_sample[column + '_avg'] = 0
    
    for line in range(time_slot, df_data_sample.shape[0]):
        values = []
        for i in range(1, time_slot+1):
            values.append(float(df_data_sample.loc[line-i, column]))

        df_data_sample.loc[line, str(column + '_sum')] = sum(values)
        df_data_sample.loc[line, str(column + '_std')] = statistics.stdev(values)
        df_data_sample.loc[line, str(column + '_min')] = min(values)
        df_data_sample.loc[line, str(column + '_max')] = max(values)
        df_data_sample.loc[line, str(column + '_avg')] = sum(values)/len(values)

/Users/gustavolgcr/miniconda3/envs/mdm2020/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/gustavolgcr/miniconda3/envs/mdm2020/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/gustavolgcr/miniconda3/envs/mdm2020/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/gustavolgcr/miniconda3/envs/mdm2020/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/gustavolgcr/miniconda3/envs/mdm2020/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/gustavolgcr/miniconda3/envs/mdm2020/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [9]:
df_data_sample

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,...,WS_ms_Avg_sum,WS_ms_Avg_std,WS_ms_Avg_min,WS_ms_Avg_max,WS_ms_Avg_avg,SlrkJ_Avg_sum,SlrkJ_Avg_std,SlrkJ_Avg_min,SlrkJ_Avg_max,SlrkJ_Avg_avg
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,...,0.025833,0.011312,0.000000,0.023333,0.006458,0.001865,0.000098,0.000382,0.000564,0.000466
5,2015-02-25 03:00:00,13258,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,...,0.025833,0.011312,0.000000,0.023333,0.006458,0.001893,0.000106,0.000382,0.000566,0.000473
6,2015-02-25 04:00:00,13259,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,...,0.127847,0.047858,0.000000,0.102014,0.031962,0.001829,0.000127,0.000318,0.000566,0.000457
7,2015-02-25 05:00:00,13260,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,...,0.354445,0.103327,0.000000,0.229097,0.088611,0.001980,0.000119,0.000318,0.000566,0.000495
8,2015-02-25 06:00:00,13261,601.2241,600.4152,0.000,23.232,23.05,99.998,99.998,0.235806,...,0.666459,0.146411,0.000000,0.335347,0.166615,0.001990,0.000121,0.000318,0.000574,0.000498
9,2015-02-25 07:00:00,13262,601.6545,600.2869,0.000,23.441,23.01,99.998,99.998,85.739530,...,1.054792,0.126500,0.102014,0.388333,0.263698,0.002080,0.000144,0.000318,0.000655,0.000520